#sidebar {
    position:fixed;
    width:200px;
    background:white;
}

#sidebar .toggle-btn{
    position:absolute;
    left:230px;
    top:20px;
}

#sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:3px 0px;
}

ul li{
    list-style:none;
    padding:15px 10px;
    border-bottom:1px solid rgb(100,100,100);
}

button {
  width: 30px;
  height: 30px;
  background: black;
}
