<style>
    #subPages {display: none;}
    details:hover #subPages {display: block;}
</style>

<p style="border-bottom:1px solid; text-align:right">PeF</p>

<details open><summary><a href =./Elektronika/index.html>Elektronika</a></summary>
                <div id="subPages">
		<li><a href =./Elektronika/izpitni_roki.html>izpitni roki</a></li>
		<li><a href =./Elektronika/obvestila.html>obvestila</a></li>
		<li><a href =./Elektronika/skripta.html>skripta</a></li>
                </div>
</details>
<details open><summary><a href =../Elektrotehnika/index.html>Elektrotehnika</a></summary>
</details>
<details open><summary><a href =../Projekti_iz_elektronike/index.html>Proj.iz elektr.</a></summary>
</details>
<details open><summary><a href =../Računalnik_v_pouku_Fizike/index.html>Rač. v pouku Fizike</a></summary>
</details>
<details open><summary><a href =../Robotika/index.html>Robotika</a></summary>
                <div id="subPages">
                <li><a href =../Robotika/koledar.html>izpitni_roki</a></li>
		<li><a href =../Robotika/notes.html>obvestila</a></li>
                </div>
</details>
<details open><summary><a href =../TP-2/index.html>TP-2</a></summary>
                <div id="subPages">
		<li><a href =../TP-2/Obvestila.html>obvestila</a></li>
                </div>
</details>
<details open><summary><a href =../TP-4/index.html>TP-4</a></summary>
</details>

<p style="border-bottom:1px solid; text-align:right">Projekti</p>
    <li><a href =https://davidrihtarsic.github.io/RobDuino>RobDuino</a></li>
    <li><a href =https://github.com/davidrihtarsic/Data-Acquisition-Device_Arduino>DAQ-Arduino</a></li>
    <li><a href =https://sites.google.com/site/drtirobotika/izobrazevanje>DRTI-robotika</a></li>
    <li><a href =https://sites.google.com/site/drtielektronika/izobrazevanje>DRTI-elektronika</a></li>
<p style="border-bottom:1px solid; text-align:right">Razno</p>
    <li><a href =https://github.com/davidrihtarsic><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href =https://www.youtube.com/channel/UCCKzBtoFVWytcw_x9Dj-Akg><i class="fa fa-youtube"></i> YouTube</a></li>
    <li><a href =../Linux/index.html><i class="fa fa-linux"></i> Linux</a></li>

