<p style="border-bottom:1px solid; text-align:right">PeF</p>
<details><summary><a href =../Elektronika/index.html>Elektronika</a></summary>
		<li><a href =../Elektronika/izpitni_roki.html>izpiti</a></li>
		<li><a href =../Elektronika/obvestila.html>obvestila</a></li>
</details>
<details><summary><a href =../Robotika/index.html>Robotika</a></summary>
		<li><a href =../Robotika/koledar.html>izpiti</a></li>
		<li><a href =../Robotika/notes.html>obvestila</a></li>
</details>
<details><summary><a href =../TP-2/index.html>TP-2</a></summary>
    <li><a href =../TP-2/Obvestila.html>obvestila</a></li>
</details>
<p style="border-bottom:1px solid; text-align:right">Projekti</p>
    <li><a href =https://davidrihtarsic.github.io/RobDuino>RobDuino</a></li>
    <li><a href =https://github.com/davidrihtarsic/Data-Acquisition-Device_Arduino>DAQ-Arduino</a></li>
    <li><a href =https://davidrihtarsic.github.io/RobDuino>RobDuino</a></li>
    <li><a href =https://sites.google.com/site/drtirobotika/izobrazevanje>DRTI-robotika</a></li>
    <li><a href =https://sites.google.com/site/drtielektronika/izobrazevanje>DRTI-elektronika</a></li>
<p style="border-bottom:1px solid; text-align:right">Razno</p>
    <li><a href =https://github.com/davidrihtarsic>GitHub</a></li>
    <li><a href =https://www.youtube.com/channel/UCCKzBtoFVWytcw_x9Dj-Akg>YouTube</a></li>
<details><summary><a href =../TP-2/index.html>Linux</a></summary>
    <li><a href =../tp-2/obvestila.html>notes</a></li>
    <li><a href =../tp-2/obvestila.html>markdown</a></li>
</details>

